.user-form-container {
  width: min(90rem, 100% - 5rem * 2);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}

.user-form-container > img {
  width: 100%;
}

.user-form-form {
  width: 100%;
  height: 100%;
  aspect-ratio: 11/12;
}

.user-form-control {
  cursor: pointer;
  justify-content: space-around;
}

.user-form-control > div {
  background-color: var(--clr-neutral-300);
  color: gray;
  width: 50%;
  text-align: center;
}

.user-form {
  margin: auto;
  flex-direction: column;
  width: 90%;
  padding-bottom: 1rem;
}

.user-form label {
  margin-inline: 0.5rem;
  font-weight: var(--fw-);
}

.user-form input {
  background-color: var(--clr-neutral-200);
}

.user-form > label {
  margin-top: 2.5rem;
}
.user-form-sign-up > label {
  margin-top: 1rem;
}

.user-form > button {
  width: auto;
  margin-top: 0.5rem;
}

.name-input {
  width: 100%;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.name-input > div {
  display: flex;
  flex-direction: column;
}

.user-form-tools {
  font-size: var(--fs-400);
  margin-inline: 0.5rem;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.user-form-tools > div {
  gap: 0.3rem;
}

.sign-up {
  margin-top: 2rem !important;
}

.form-switch-active {
  background-color: var(--clr-neutral-400) !important;
  color: var(--clr-dark-500) !important;
}

.user-form-error {
  margin-inline: 0.5rem;
  color: red;
  font-size: var(--fs-400);
  font-weight: var(--fw-light);
}

.password-constraint {
  color: var(--clr-neutral-700);
}

@media (max-width: 75em) {
  .user-form-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: min(1000px, 100% - 4rem);
    margin-inline: auto;
  }
  .user-form-form {
    aspect-ratio: auto;
    padding-bottom: 2rem;
  }
}

@media (max-width: 48em) {
  .name-input {
    flex-direction: column;
  }
  .name-input > * + * {
    margin-top: 2.5rem;
  }
}
