.user-dashboard {
  display: grid;
  grid-template: repeat(2, 18vw) / repeat(2, calc(50% - 1rem));
  gap: 2rem;
  grid-template-areas:
    "order address"
    "order appointment";
}

.user-control-sub-page {
  min-height: 50rem;
}

.user-welcome {
  grid-area: welcome;
}

.user-order {
  grid-area: order;
}

.user-address {
  grid-area: address;
}

.user-appointment {
  grid-area: appointment;
}

.user-dashboard-item {
  background-color: var(--clr-neutral-400);
  padding: var(--size-300);
  padding-inline: 2rem;
  color: var(--clr-neutral-700);
  overflow: scroll;
}

.user-dashboard-item > h2 {
  font-size: var(--fs-700);
  font-weight: 10;
  color: var(--clr-dark-500);
}

.user-nav {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.dashboard-logout-link {
  display: none;
}

.user-nav > h2 {
  font-size: var(--fs-600);
  padding-block: var(--size-300);
  padding-top: calc(var(--size-400) + var(--size-300));
}

.user-nav > a {
  color: var(--clr-neutral-700);
}

.user-profile > div:nth-child(2) {
  width: 100%;
}

.user-profile {
  position: relative;
}

.user-nav {
  margin-top: 10rem;
  position: sticky;
  top: 192px;
  height: fit-content;
}

.address-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: var(--size-500);
}
.address-form > label {
  margin-inline: 0.5rem;
}
.address-form > input {
  margin-top: 0.5rem;
}

.address-form > button {
  width: 100%;
}

.address-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
  gap: 1rem;
  color: var(--clr-neutral-700);
  padding-bottom: var(--size-400);
}

.address-item {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral-400);
  padding: 1rem;
  position: relative;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.address-item:hover {
  opacity: 0.6;
}

.user-control-sub-page > .button-delete {
  width: 50%;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.order-list-item {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--size-500);
}

.order-list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-list-item-second-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dashBoard-order-list > li {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.3s ease-out;
}

.dashBoard-order-list > li:hover {
  opacity: 0.7;
}

@media (max-width: 75em) {
  .user-dashboard {
    grid-template: repeat(3, 25vw) / 1fr;
    grid-template-areas:
      "order"
      "address"
      "appointment";
  }
  .user-nav > button {
    display: none;
  }

  .dashboard-logout-link {
    display: inline;
  }
}

@media (max-width: 48em) {
  .user-dashboard {
    grid-template: repeat(3, 15rem) / 1fr;
    grid-template-areas:
      "order"
      "address"
      "appointment";
  }
  .user-profile {
    flex-direction: column;
    align-items: center;
  }
  .user-nav {
    display: flex;
    margin-top: 0;
    flex-direction: row;
    width: 100vw;
    padding-inline: 2rem;
    align-items: center;
    justify-content: space-around;
    top: 96px;
    background-color: var(--clr-neutral-300);
    z-index: 999;
    height: 3rem;
    border-bottom: 1px solid var(--clr-border);
  }
  .user-nav > * + * {
    margin-top: 0;
  }

  .user-nav > h2 {
    display: none;
  }

  .user-control-sub-page {
    padding-block: var(--size-400);
  }

  .user-control-sub-page > h2 {
    padding-block: var(--size-500);
    font-size: var(--fs-700);
  }

  .user-dashboard-item > h2 {
    font-size: var(--fs-550);
  }

  .user-dashboard-item {
    padding: var(--size-300);
  }

  .order-list-item {
    padding-inline: var(--size-300);
    padding-block: var(--size-400);
  }

  .order-list {
    gap: var(--size-200);
  }

  .address-form {
    width: 80%;
    margin-inline: auto;
  }
}

@media (max-width: 30em) {
  .order-list-item {
    padding-block: var(--size-300);
  }

  .user-nav {
    font-size: var(--fs-400);
  }
}
