.text-in-image {
  position: relative;
}

.text-in-image > div {
  position: absolute;
  width: 35%;
}

.text-in-image-top-left > div {
  top: 10%;
  left: 5%;
}

.text-in-image-bottom-left > div {
  bottom: 15%;
  left: 5%;
}

.product-categories {
  justify-content: space-between;
}

.product-category {
  width: 21vw;
}

.product-category > div > img {
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.product-category:hover > div > img {
  transform: scale(1.1);
}

@media (max-width: 80em) {
  .product-categories {
    flex-direction: column;
  }
  .product-categories > * + * {
    margin-top: var(--size-600);
  }
  .product-category {
    width: 100%;
  }
}

.home-even-column-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-text-block {
  max-width: 360px;
}

.home-service-feature {
  grid-column-gap: 1rem;
  grid-row-gap: 4rem;
}

@media (max-width: 80em) {
  .home-even-column-text {
    --max-width: 1700px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - var(--padding) * 2);
  }
  .home-face-img {
    width: 100%;
  }
}
