.customization-wrapper {
  display: flex;
}

.step-option-wrapper {
  display: flex;
}

.steps {
  width: 25%;
}

.option-wrapper {
  width: 75%;
}

.option-list {
  --size: clamp(15rem, 16vw, 30rem);
  display: grid;
  grid-template-rows: repeat(auto-fill, var(--size));
  grid-template-columns: repeat(auto-fill, var(--size));
  overflow-y: auto;
  justify-content: center;
}

.option {
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}

.step-list {
  flex-direction: column;
}

.step-list > li {
  cursor: pointer;
}

.selected-option {
  outline: 1px solid black;
}
