.user-form-container {
  width: min(40rem, 100% - 1rem * 2);
  border: 1px solid black;
  margin: auto;
  margin-top: 5rem;
  padding-bottom: 2rem;
}

.user-form-control {
  cursor: pointer;
  justify-content: space-around;
}

.user-form {
  margin: auto;
  flex-direction: column;
  width: 90%;
}

.user-form > label {
  margin-top: 2.5rem;
}

.user-form > button {
  width: auto;
  margin-top: 2.5rem;
}

.name-input {
  width: 100%;
  margin-top: 2.5rem;
  justify-content: space-between;
}

.name-input > div {
  display: flex;
  flex-direction: column;
}
