.footer-content {
  padding-bottom: var(--size-600);
}

.rights {
  border-bottom: 1px solid var(--clr-neutral-700);
}

.footer-content {
  display: flex;
}

.footer-brand-wrapper {
  width: 25%;
}

.footer-brand {
  width: max-content;
}

.footer-social {
  justify-content: space-between;
  font-size: var(--fs-600);
}

.footer-links-wrapper {
  width: 75%;
}

.footer-links {
  margin-left: 8vw;
  gap: 9vw;
  justify-content: center;
}

@media (max-width: 75em) {
  .footer-content {
    justify-content: space-between;
  }
  .footer-brand-wrapper {
    width: fit-content;
  }
  .footer-links-wrapper {
    width: max-content;
  }
}

@media (max-width: 48em) {
  .footer-content {
    gap: 3rem;
  }
  .footer-brand-wrapper {
    display: flex;
    width: 60%;
    justify-content: center;
    margin-inline: auto;
  }
  .footer-brand {
    width: 100%;
  }
  .footer-brand > p {
    text-align: center;
  }
  .footer-links-wrapper {
    width: 60%;
    margin-inline: auto;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-links {
    justify-content: space-between;
    margin-left: 0;
  }
}
